.headerOne{
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  background: linear-gradient(#4056a1,#00BFFF,#FFDAB9);
}

#profileIMG {
  width: 225px;
  height: 225px;
}

#toggle {
  cursor: pointer;
}

.tweetName {
  /* border: 4px dotted orange; */
  margin: 0px;
  color: white;
  font-weight: 600;
}

/* Table View */

@media (min-width: 768px) {
   #headerDiv {
    display: flex;
    margin: 200px 50px 50px 50px;
  }
  
  .headerOne {
    width: 300px;
    height: 350px;
    justify-content: center;
  }
}
